.login-form-container {
  background-color: rgba(255, 255, 255, 0.781);
  width: 50%;
  padding: 2rem;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 80%,
    80% 80%,
    80% 100%,
    50% 80%,
    0% 80%
  );
}

.login-form-container h2 {
  font-size: 1.6rem;
  color: #666;
}

.login-form-btn {
  display: block !important;
  border: none !important;
  padding: 1rem 1rem !important;
  color: #fff !important;
  background-color: rgba(44, 44, 84, 0.685) !important;
  border-radius: 5px !important;
  width: 100% !important;
  font-size: 1.2rem !important;
}

.login-form {
  margin-bottom: 20%;
}

.login-form-base-links {
  cursor: pointer;
  color: rgba(64, 64, 122, 0.76);
  text-decoration: underline;
  font-weight: 600;
  font-size: 1rem;
}

.login-form-base-links:hover {
  color: rgba(64, 64, 122, 1);
  text-decoration: underline;
}

.login-form-label {
  color: #333;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  .login-form-container {
    width: 95%;
  }
}
