.vertical-tab-container {
  display: flex;
  background-color: rgba(64, 64, 122, 0.2);
  min-height: 100vh;
}

.vertical-tab-left {
  width: 20%;
  margin: 1rem;
}

.vertical-tab-left::-webkit-scrollbar {
  display: none;
}

.vertical-tab-right {
  flex-grow: 1;
  background-color: #fff;
  margin: 1rem;
}

.vertical-tab-right_item {
  padding: 1rem;
}

.vertical-tab-left_item {
  display: inline-flex;
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.vertical-tab-left_item-active {
  background-color: #eee;
}

.vertical-tab-left_item-text {
  margin-left: 5px;
  flex-grow: 1;
}

@media screen and (max-width: 700px) {
  .vertical-tab-left {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 1;
    margin-bottom: 0;
    overflow-x: auto;
  }
  .vertical-tab-right {
    width: 100%;
    margin: 1rem 0 0 0;
  }
}
