*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.fadeIn {
  animation: fadeInAnimation 2s linear;
}

.default-page-bg {
  background-color: rgba(64, 64, 122, 0.2);
  min-height: 100vh;
}

.custom-default-tab-header {
  text-align: center;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.custom-default-tab-header-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #666;
}

.official-download-btn {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  border: 2.5px solid orange;
  margin: 0 auto;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  background-color: #333;
  color: orange;
}

.official-download-btn:hover {
  color: orangered;
  background-color: #fff;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 70%;
    font-weight: 600;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
